@model IEnumerable<CarWorkshop.Application.CarWorkshop.CarWorkshopDto>

<div class="container mt-4">
    <h2>Lista warsztatów</h2>

    <p>
        <a asp-action="Create" class="btn btn-secondary">Stwórz nowy</a>
    </p>


    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var workshop in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@workshop.Name</h5>
                        <p class="card-text">@workshop.Description</p>
                        <p class="card-text"><small class="text-muted">@workshop.ContactDetails.City</small></p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a class="btn btn-primary btn-sm me-2" asp-controller="CarWorkshop" asp-action="Details" asp-route-encodedName="@workshop.Name">Details</a>
                        <a class="btn btn-secondary btn-sm" asp-controller="CarWorkshop" asp-action="Edit" asp-route-encodedName="@workshop.Name">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
